<p id="notice"><%= notice %></p>
<article>
<h1><%= @post.title %></h1>
<div class="date"><%= @post.created_at.strftime("%B %d, %Y")%></div>
<p><%= simple_format(@post.body) %></p>
<div class="back-button"><%= link_to 'Back Home', posts_path %></div>
</article>